/* Mobile STYLE */
.trash-btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#trashAllBtn {
    margin-right: 0px;
}

.product-price {
    margin-top: 10px;
}

.product-group{
    margin-top: 40px;;
}

.product-image {
    height: auto;  
}

.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .block-heading{
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading p,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
    padding-bottom: 30px;
    border-bottom: 1px solid;
}

.shopping-cart .items .product .info{
	padding-top: 10px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary p{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
    float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

/* Tablet STYLE */
@media (min-width: 768px) {
    .shopping-cart .items .product {
		padding-bottom: 30px;
    }

	.shopping-cart .items .product .info {
		padding-top: 15px;
        text-align: left;
    }

	.shopping-cart .items .product .info .price {
		font-weight: bold;
        font-size: 22px;
        max-width: 50%;
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
    }

    .product-image {
        height: 232px;
    }

    .trash-btn {
        width: auto;
        float: right;
        margin-right: -2px;
    }

    #trashAllBtn {
        margin-right: 15px;
    }
}

/* Desktop small-size STYLE */
@media (min-width: 992px) {
    .shopping-cart .items .product .info {
        padding-top: 10px;
		text-align: left; 
    }

    .shopping-cart .items .product {
		padding-bottom: 0px;
    }

    .product-image {
        height: 225px;
    }

    #trashAllBtn {
        margin-right: 0px;
    }

    .product > .row > div {
        padding: 0px;
        padding-left: 15px;
        margin-right: 20px;
    }
}

/* Desktop normal-size STYLE */
@media (min-width: 1200px) {
    .shopping-cart .items .product .info {
        padding-top: 30px;
		text-align: left; 
    }

    .product-image {
        height: 244px;
    }

    #trashAllBtn {
        margin-right: 0px;
    }
}