/*Filters Section*/

#order-filter, #price-filter, #tables-filter, #delete-filter{
    margin-bottom: 8px !important;
  }
  
  #order-filter > h6, #price-filter > h6, #tables-filter > section > a > h6{
    font-weight: bold !important;
    margin-bottom: 5% !important;
  }
  
  #order-filter > div > a > span, #tables-fiter > section > label {
    color: black;
    margin-bottom: 1px !important;
  }

  #order-filter > div > a:hover{
    text-decoration: none !important;
  }
  
  
  #order-filter > div > a > span:hover, .custom-control:hover, .custom-control-label:hover {

    margin-left: -2px;
    color: #007bff !important;
    cursor: pointer;
  
  }
  
  .custom-control-label {
    margin-bottom: 2px !important;
  }
  
  .custom-control-label:hover {
    color: #007bff;
  
  }
  
  #range-wrapper {
    display: inline-flex !important; 
    margin: 4px 0px !important;
  }
  
  #range-wrapper > span {
    font-weight: bold !important;
    color: #6c757d;
    font-size: 80%;
  }
  
  .multi-range {
    margin: 0px 6px !important;
  }
  
  #tables-filter > section {
    margin-bottom: 5px !important;
  }
  
  #tables-filter > section > a > h6 > i{
    margin-left: 2px !important;
  }
  
  #delete-filter > button {
    margin-left: -5%;
  }
  
  .btn-delete {
    background-color: transparent;
    text-transform: uppercase;
    vertical-align: bottom;
    border: 0;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5;
  }
  
  .btn-delete:hover {
    color: #007bff;
    font-weight: 800;
    background-color: transparent;
  }
  
  .btn-delete:active {
    color: #007bff;
    font-weight: 800;
    background-color: transparent !important;
    border: none;
  }
  
  .btn-delete:focus {
    color: #007bff;
    font-weight: 800;
    background-color: transparent !important;
    border: none;
  }

     /*Range*/
  
     input[type="range"] {
        background-color: silver;
        color: #3498db;
        width: 150px;
        height: 20px;
      }
      
      input[type="range"]:hover {
        background-color: silver;
        color: #3498db;
        width: 200px;
        transition: width 0.5s;
        height: 20px;
      }
      
      input[type="range"]::-webkit-slider-thumb {
        background-color: #666;
        opacity: 0.5;
        width: 10px;
        height: 26px;
      }
      
      input[type="range"]::-webkit-slider-runnable-track {
        cursor: pointer;
      }
      

  /* pagination */

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #4285f4;
    border-radius: 0.125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .pagination .page-item.active .page-link:hover {
    background-color: #4285f4 !important;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #868e96;
  }
  
  .pagination .page-item .page-link {
    font-size: 0.9rem;
    color: #212529;
    background-color: transparent;
    border: 0;
    outline: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .pagination .page-item .page-link:hover {
    background-color: #eee;
    border-radius: 0.125rem;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .pagination .page-item .page-link:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .pagination.pagination-lg .page-item .page-link {
    font-size: 1rem;
  }
  
  .pagination.pagination-sm .page-item .page-link {
    font-size: 0.8rem;
  }
  
  .pagination.pagination-circle .page-item .page-link {
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 50%;
  }
  
  .pagination.pagination-circle .page-item .page-link:hover {
    border-radius: 50%;
  }
  
  .pagination.pagination-circle .page-item.active .page-link {
    border-radius: 50%;
  }
  
  .pagination.pg-blue .page-item.active .page-link {
    background-color: #4285f4;
  }
  
  .pagination.pg-blue .page-item.active .page-link:hover {
    background-color: #4285f4;
  }
  
  .pagination.pg-red .page-item.active .page-link {
    background-color: #ff3547;
  }
  
  .pagination.pg-red .page-item.active .page-link:hover {
    background-color: #ff3547;
  }
  
  .pagination.pg-teal .page-item.active .page-link {
    background-color: #2bbbad;
  }
  
  .pagination.pg-teal .page-item.active .page-link:hover {
    background-color: #2bbbad;
  }
  
  .pagination.pg-dark-grey .page-item.active .page-link {
    background-color: #37474f;
  }
  
  .pagination.pg-dark-grey .page-item.active .page-link:hover {
    background-color: #37474f;
  }
  
  .pagination.pg-dark .page-item.active .page-link {
    background-color: #2e2e2e;
  }
  
  .pagination.pg-dark .page-item.active .page-link:hover {
    background-color: #2e2e2e;
  }
  
  .pagination.pg-blue-grey .page-item.active .page-link {
    background-color: #3f729b;
  }
  
  .pagination.pg-blue-grey .page-item.active .page-link:hover {
    background-color: #3f729b;
  }
  
  .pagination.pg-amber .page-item.active .page-link {
    background-color: #ff6f00;
  }
  
  .pagination.pg-amber .page-item.active .page-link:hover {
    background-color: #ff6f00;
  }
  
  .pagination.pg-purple .page-item.active .page-link {
    background-color: #5e35b1;
  }
  
  .pagination.pg-purple .page-item.active .page-link:hover {
    background-color: #5e35b1;
  }

  
/* cards Products */

.card .card-body h1,
.card .card-body h2,
.card .card-body h3,
.card .card-body h4,
.card .card-body h5,
.card .card-body h6 {
  font-weight: 400;
}

.card .card-body .card-title a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card .card-body .card-title a:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card .card-body .card-title a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card .card-body .card-title a:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

div > h4 > a {
  text-decoration: none !important;
  color: #000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

div > h5 {
  font-size: medium !important;
  font-weight: 500 !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
div > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

div > input > label {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.card:hover {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  transition: 0.3s;
}

.card .card-body .card-text {
  font-size: 0.9rem;
  font-weight: 400;
  color: #747373;
}

.card .md-form label {
  font-weight: 300;
}

.radio-button:hover {
  position: absolute;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9px;
  text-align: justify;
  cursor: pointer;
  color: #333;
  top: 150px;
  left: 315px;
}

button.input-embedded {
    border: none;
  }
  
  .dropdown-menu {
    width: 100% !important;
  }
  
  .dropdown-menu .dropdown-item {
    text-align: center;
  }
  
  /*Btn Filters */
  
  .btn-filter {
    width: 100% !important;
    text-transform: uppercase;
    vertical-align: bottom;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2),
      0 2px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    font-weight: 500;
    padding: 0.625rem 1.5rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.5;
  }

  /* Promotion Carousel*/
  
  #promotions {
    margin-bottom: 2% !important;
  }

  .carousel-caption > h3, .carousel-caption > p {
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 1);
    color: #343a40!important;
  }

  .card-body > .badge-danger {
    margin: 2% 0%;
  }

  .not-available {
    width: 100%;
    filter: grayscale(100%) !important;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }

  .product-badge {
    display: block;
    position: relative;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: .25rem;
    text-decoration: none;
}

.dropdown-menu.show {
  margin: 0px -20px !important;
}

.card .card-body .card-text {
    height:auto;
    overflow: hidden !important;

}

.card-body {
  height:auto;
  overflow: hidden !important;
}

.btn-promotion{ 
  padding: 10px 32px; 
  font-size: 16px; 
  text-align: center; 
  cursor: pointer; 
  outline: none; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
} 
/* Adding styles on 'active' state */ 

.btn-promotion:active{ 
  box-shadow: 
    7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
  transform: translateY(4px); 
  /* Moving button 4px to y-axis */ 
}



.card:hover {
  box-shadow: 
    7px 6px 28px 1px rgba(0, 0, 0, 0.1); 
  transform: translateY(2px); 
}

.card:active {
  box-shadow: 
    7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
  transform: translateX(0px); 
}

.card:hover .product-badge{
  font-size: 14px;
  transition: font-size 0.2s;

}

.card:hover a{
  margin-left: 1px;
  transition: color 0.2s;

}
