@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.icon {
    cursor: pointer;
    margin-left: 18px;
}

.icon span {
    padding: 1px 4px 1px 4px;
    border-radius: 10px;
    margin-left: -25px;
    color: #999c9f;
}

.icon .fa-bell {
    display: inline-block;
    width: 20px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: -10px;
}

.icon:hover {
    opacity: .7
}

.logo {
    flex: 1;
    margin-left: 50px;
    color: #eee;
    font-size: 20px;
    font-family: monospace
}

.notifications {
    width: 100%;
    height: 0px;
    max-height: 400%;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    top: 266px;
    right: 0px;
    border-radius: 5px 0px 5px 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 999999;
}

.notifications > span {
    display: block;
    margin: 0;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;
    font-weight: bold;
}


.notifications-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
}

.notifications-item:hover {
    background-color: #eee
}

.notifications-item .fa-bell {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 2px
}

.notifications-item .text div {
    color: #777;
    font-size: 16px;
    margin-top: 3px;
}

.notifications-item .text p {
    color: #aaa;
    font-size: 12px
}

@media (min-width: 768px) {
    .notifications {
        width: 300px;
        height: 0px;
        opacity: 0;
        position: absolute;
        top: 63px;
        right: 62px;
    }
}